body {
  margin: 0;
  padding:0;
}

.main-container {
  display: flex;
  flex-direction: column;
  font-family: roboto,"sans-serif";
  padding: 10px;
  margin: 0;
  gap: 0;
}

img {
  height: 200px;
}

.images img {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 8px;
  display: block;
}

.images {
  display: flex;
  width: 150px;
  gap: 50px;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header, .hero-text, .footer {
  background-color: #1F2937;
}

.text>h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.text p , .header-links a {
  color: #e5e7eb;
  font-size: 18px;
}
.text p {
  padding: 0;
  margin: 0;
}

button {
  background-color: #3882f6;
  font-size: 18px;
  border-radius: 8px;
  color: #f9faf8;
}

.sign-up {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.sign-up div {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  gap: 20px;
}

.action {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}
.sign-up button {
  border: 1px solid white;
  align-self: center;
}

.action>:first-child {
  font-weight: bold;
}
.action p {
  margin: 0;
}
.quote {
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.hero-text {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo p{
  color: #f9faf8;
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
}

.header-links ul {
  display: flex;
  padding: 0;
  gap: 10px;
  margin-right: 10px;
}

.random-info h1 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}
.random-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}