body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}

.hero-text img {
  height: 200px;
  border-radius: 8px;
  margin-right: 100px;
}

.images img {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  border-radius: 8px;
  display: block;
}

.images {
  display: flex;
  width: 150px;
  gap: 50px;
  align-items: center;
  margin: auto;
  width: 800px;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header, .hero-text, .footer {
  background-color: #1F2937;
}

.text>h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
}
.text p , .header-links a {
  color: #e5e7eb;
  font-size: 18px;
}
.text p {
  padding: 0;
  margin: 0;
}

button {
  background-color: #3882f6;
  font-size: 18px;
  border-radius: 8px;
  color: #f9faf8;
  border: none;
}

.sign-up {
  display: flex;
  padding: 100px;
  justify-content: center;
}

.sign-up div {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  display: flex;
  gap: 20px;
}

.action {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}
.sign-up button {
  border: 1px solid white;
  align-self: center;
  flex-shrink: 0;
}

.action>:first-child {
  font-weight: bold;
}
.action p {
  margin: 0;
}
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.quote div {
  align-self: flex-end;
  font-weight: bold;
}

.hero-text {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.logo p{
  color: #f9faf8;
  font-size: 24px;
  margin: 10px 0px 10px 100px;
  font-weight: bold;
}

.header-links ul {
  display: flex;
  padding: 0;
  gap: 10px;
  margin-right: 100px;
}
.header-links {
  margin-left: auto;
}

.random-info h1 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.random-info {
  padding-bottom: 100px;
  font-family: roboto,"sans-serif";
}
